.mealInfo
{
    border: solid #48D1CC 2px;
    background-color: white;
    display: flex;
    margin-top:1%;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: row;
    font-size: 22px;
    color:#4d6d9a;
    font-family: Microsoft JhengHei Light;
    //justify-content: center;
}
.linija
{
   border-bottom: solid #4d6d9a 1px; 
   margin-top:5%;
   margin-left:5%;
   margin-right:5%;
}
.f
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left:15% ;
    margin-right:15%;
}
.reccommended
{
  display: flex;
    margin-left:40%;
    //margin-right: 30%;
    margin-top:2px;
    margin-bottom:2px;
    font-weight: bold;
    font-size: 18px;
    
    font-family: Microsoft JhengHei Light;
}
.glasovi
{
    
    justify-content: center;
}
.log
{
  color: #4d6d9a;
  font-size: 18px;
  text-decoration: underline; 
  font-family: Microsoft JhengHei Light;
  text-align: center;
  margin-bottom: 5px;
}
img{
    width: 320px;
    height: 300px;
  }
  .osnovne
  {
    display: flex;
    flex-grow: 1;
    //margin-top:5%;
    flex-direction: column;
    justify-content: center;
    margin-left:25%;
      margin-right:25%;
  
  }
  .naziv
  {
    font-size: 30px;

  }
  .pozadina{

   //height: 800px; 
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }
  .naziv,.naziv1
  {
      place-self: center;
      //margin-left: 5%;
  }
  .info
  {
      display: flex;
      flex-grow: 1;
      margin-top:5%;
      flex-direction: column;
      justify-content: center;
    
  }
  .ocena
  {
      display:flex;
      flex-grow: 1;
      flex-direction: row;
      margin-left:5%;
      margin-right:5%;
      justify-content:space-around;
      font-size: 18px;


}