.b
{
  display: flex;
  flex-grow: 1;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 17%;
  justify-content: space-around;
  padding-left:10%;
  padding-right:10%;
}

.bt{
    margin-left: 8px;
    margin-right: 8px;
  width:600px;  
  border:solid #48D1CC 3px;
}

.space
{
    display: flex;
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
}