<div class="bg" >

 
    <div class="flex row"  >
      <div class="f">
      <div *ngFor="let food of allFood" class="food">
             <app-foodcard [food]="food"></app-foodcard>        
      </div>
    </div>
  </div>  
  
      </div>
