.hp{
    border: solid white 0.2px;
}
.hp{

 //  height: 800px; 
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .pretrage
{
    flex-direction: row;
    margin-top: 3%;
    margin-left:15% ;
    margin-right:15%;
}
.bt{
    margin-left: 12px;
    margin-right: 12px;
  width:150px;  
  border:solid white 3px;
}
.f
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;

   // margin-top: 5%;
    margin-left:15% ;
    margin-right:15%;
}
button
{
    margin-left: 10px;
}
input{
    margin-left: 10px;

}