
    <mat-card class="example-card" >
      <mat-card-content>

       <div class="co">
            <a (click)="loadFood()">

              <div class="picture" >
              <img mat-card-image [src]="pic?.PictureURL" alt="">
            </div>

          </a>
        </div>
       <div class="naslov">
        <mat-card-title> {{food?.Name}} </mat-card-title>
      </div>
        <div class="linija">
        </div>
    <div class="ostaleinf">
        <div class="tp">
            {{food?.Type}} 
             |
          {{food?.Description}} 
      </div>
      <div class="tp">
        <i class="fa fa-star fa-1x" style="color:#fcd96f;"aria-hidden="true"></i> {{food?.AverageRating}} 
    </div>
  
          
          <button (click)="loadFood()" mat-raised-button color="primary">POGLEDAJ </button>
        </div>
      </mat-card-content>
      </mat-card>