<div class="r" [style.backgroundImage]="getBackgroundImageUrl()">
  <div class="dd"><button  class="bt" mat-raised-button routerLink="/home">Pocetna strana</button></div>

<mat-card class="register" >

    <form #form="ngForm" >
      
        
            <mat-card-title>Kreirajte profil</mat-card-title>
    

      <mat-form-field class="example-full-width">
            <input 
            matInput placeholder="Ime" 
            type="text"
            id="name"
            class="form-control"
            value=""
            [(ngModel)]="user.Name"
            name="name"
            required
            >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Korisnicko ime" 
        type="text"
        id="username"
        class="form-control"
        value=""
        [(ngModel)]="user.Username"
        name="username"
        required
        >
        <i class="fa fa-user" aria-hidden="true" style="color:#4d6d9a"></i>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Lozinka" 
        type="text"
        id="password"
        class="form-control"
        value=""
        [(ngModel)]="user.Password"
        name="password"
        required
        >
        <i class="fa fa-lock" style="color:#4d6d9a"></i>


      </mat-form-field>
          <button 
          (click)="onSubmit()"
          mat-flat-button color="primary"
          type="submit"
            [disabled]="!form.valid"
            >
            Registrujte se</button>
          </form>
  
</mat-card>
</div>