.bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; 


}
.bt{
    margin-left: 12px;
    margin-right: 12px;
  width:150px;  
  border:solid white 3px;
}
.pretrage
{
    flex-direction: row;
    margin-top: 3%;
    margin-left:15% ;
    margin-right:15%;
}
.u
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left:15% ;
    margin-right:15%;
}