.hp{
    border: solid white 0.2px;
}
.hp{

  // height: 800px; 
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
.f
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;

   // margin-top: 5%;
    margin-left:15% ;
    margin-right:15%;
}
button
{
    margin-left: 10px;
}
input{
    margin-left: 10px;

}