<div class="hp"  [style.backgroundImage]="getBackgroundImageUrl()">
  <app-header1></app-header1>
<div class="p">
    <div class="f">
    <div *ngFor="let food of allFood" class="food">
           <app-tastedcard (notifyDeleteFood)='loadFood()' [food]="food"></app-tastedcard>        
    </div>
  </div>  
</div>
