
      <mat-card class="example-card" >
        <mat-card-content>
          <a (click)="loadUser()">
          
        <div class="co">
          
         
          <div class="naslov">
            <mat-card-title> {{user?.Name}} </mat-card-title>
            <mat-card-subtitle> {{user?.Username}} </mat-card-subtitle>

          </div>
      
            
      
      </div>
     
      <div class="picture" >
        <img mat-card-image src="assets/ss.png" alt="">
        
      </div>
     </a>     
        <div  class="ostaleinf">
          
            
            
          <button  (click)="loadUser()" mat-flat-button color="primary">POGLEDAJ  </button>
          </div>
          </mat-card-content>
        </mat-card>