
<div class="r" [style.backgroundImage]="getBackgroundImageUrl()">
  
    <div class="dd"><button  class="bt" mat-raised-button routerLink="/home">Pocetna strana</button></div>
      <mat-card class="add">
      <form #form="ngForm" >
   
          <mat-card-title> Dodaj restoran </mat-card-title>
          
          <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="Naziv" 
              type="text"
              id="name"
              class="form-control"
              value=""
              [(ngModel)]="name"
              name="name"
              required
              >
             
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
                <input
                matInput placeholder="Grad" 
                type="city"
                id="city"
                class="form-control"
                value=""
                [(ngModel)]="city"
                name="city"
                required
                >
                
              </mat-form-field>    
      
              <div class="dugme">
              <button [disabled]="!form.valid"  (click)="addRestaurant()" mat-flat-button color="primary" type="submit"  >
                Dodaj
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </form>
      </mat-card>
  
  </div>