<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">
  <label class="l"> {{user?.Name}}  ~  {{user?.Username}}  </label>
  <app-header1 class="h"></app-header1>  
  <div class="reccommended"> Hrana koju je korisnik {{user?.Name}} probao , a vi niste </div>
  <div class="flex row">
    <div class="f">
    <div *ngFor="let food of recommendedFood" class="food">
           <app-foodcard [food]="food"></app-foodcard>        
    </div>
  </div>
</div>  
<div class="all"> Hrana koju je korisnik {{user?.Name}} probao </div>
  <div class="flex row">
    <div class="g">
    <div *ngFor="let food of allFood" class="food">
           <app-foodcard [food]="food"></app-foodcard>        
    </div>
  </div>
</div>  
    </div>