.bg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.bt{
    margin-left: 12px;
    margin-right: 12px;
  width:150px;  
  border:solid white 3px;
}
.pretrage
{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left:15% ;
    margin-right:15%;
    justify-content: space-around;
}

.f
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left:15% ;
    margin-right:15%;
}
button
{
    margin-left: 10px;
}
input{
    margin-left: 10px;

}