<div class="space"></div>
<div class="b">
    <button  class="bt" mat-raised-button routerLink="/food">Pretrazi jela</button>
    <button  class="bt" mat-raised-button routerLink="/restaurants">Restorani</button>
    <button  class="bt" mat-raised-button *ngIf="isLogged()" routerLink="/addFood" >Dodaj jelo</button>
    <button  class="bt" mat-raised-button *ngIf="isLogged()"  routerLink="/users">Korisnici</button>
    <button  class="bt" mat-raised-button *ngIf="!isLogged()" routerLink="/logIn">Prijavi se</button>
    <button class="bt" *ngIf="isLogged()" mat-raised-button  mat-button routerLink="/myFood">Moja jela</button>
    <button class="bt" *ngIf="isLogged()" mat-raised-button (click)="logOut()" mat-button>Odjavi se</button>

    <button  class="bt" mat-raised-button *ngIf="!isLogged()" routerLink="/register">Napravi profil</button>
 </div>
